.formulario_modificar{
    width:90%;
}

.doble_input{
    width:100%
}

.primer_input{
    width:50%;
}

.input_grande{
    width: 805,22px;
}

.etiqueta_modificar{
    width: 150px;
}

.input_chico{
    width:327px;
}

.input_descripcion{
    width:646px;
}

.btn{
    height:50px;
    width:215px;
    margin:25px 0px 5px 25px; 
}